@{
    ViewData["Title"] = "Home Page";
}

<div class="mt-4">
    <h1 class="display-4 text-center mb-5">Bienvenido al ejercicio de recibos AXOSNET</h1>
    <p>Para comenzar a usar el sistema, debe seguir los siguientes pasos:</p>
    <ul>
        <li class="text-justify">Debe dar de alta un proveedor, para ello debe dirigirse a la <span class="font-weight-bold">pestaña de proveedores</span> (en dado caso de no contar con alguno)</li>
        <li class="text-justify">Debe dar de alta la moneda a ocupar en el recibo, para ello debe dirigirse a la <span class="font-weight-bold">pestaña de monedas</span> (en dado caso de no contar con alguna)</li>
        <li class="text-justify">Dar de alta el recibo, ingresando los datos solicitados. Para ello debe dirigirse a la <span class="font-weight-bold">pestaña de recibos</span></li>
    </ul>
</div>
