
<div class="modal-header bg-dark text-white">
    <img src="~/img/logo_firma.png" alt="ejercicioAxonet" class="img-fluid" width="60px" />
    <div>
        <h5 class="modal-title" id="VerReciboModalLabel"></h5>
    </div>
</div>
<div class="modal-body">
    <div id="datosGenerales" style="border: 1px solid #f2f3f8; padding:15px">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group row" style="margin-bottom:0">
                    <label for="fechaVerFolio" class="col-sm-4 col-form-label"><strong>Fecha:</strong></label>
                    <label id="fechaVerFolio" class="col-sm-8 col-form-label"></label>
                </div>
                <hr style="border: 1px solid #f2f3f8; margin:0" />
                <div class="form-group row" style="margin-bottom:0">
                    <label for="montoVerRecibo" class="col-sm-4 col-form-label"><strong>Monto:</strong></label>
                    <label id="montoVerRecibo" class="col-sm-8 col-form-label"></label>
                </div>
                <hr style="border: 1px solid #f2f3f8; margin:0" />
            </div>
            <div class="col-md-6">
                <div class="form-group row" style="margin-bottom:0">
                    <label for="proveedorVerRecibo" class="col-sm-4 col-form-label"><strong>Proveedor:</strong></label>
                    <label id="proveedorVerRecibo" class="col-sm-8 col-form-label"></label>
                </div>
                <hr style="border: 1px solid #f2f3f8; margin:0" />
                <div class="form-group row" style="margin-bottom:0">
                    <label for="monedaVerRecibo" class="col-sm-4 col-form-label"><strong>Moneda:</strong></label>
                    <label id="monedaVerRecibo" class="col-sm-8 col-form-label"></label>
                </div>
                <hr style="border: 1px solid #f2f3f8; margin:0" />
            </div>
        </div>
        <div class="form-group row" style="margin-bottom:0">
            <label for="comentarioVerRecibo" class="col-sm-4 col-form-label"><strong>Comentario:</strong></label>
            <label id="comentarioVerRecibo" class="col-sm-8 col-form-label"></label>
        </div>
    </div>
</div>
<div class="modal-footer">

    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>  
</div>